@import "tailwindcss";

@theme {
  --blue-400: hsl(220,100%,64%);
  --text-paragraph: 17px;
  --text-nav: 14px;
  --font-family: "Inter", sans-serif;

  --animate-hover: all 300ms ease-in-out 150ms;
}
